.HistoryPic1, .HistoryPic2 {
  width: 200px;
  height: 150px;
  border: 7px solid black;
  border-radius: 10px;
}

.AbstractPic {
  width: 400px;
  height: 300px;
  border: 7px solid black;
  border-radius: 10px;
}

.HistoryPar {
  border: 7px solid black;
  border-radius: 10px;
  width: 50%;
  height: 150px;
  overflow-y: scroll;
  min-width: 200px;
  text-align: justify;
  text-justify: inter-word;
  padding-right: 5px;
}

.AbstractPar {
  border: 7px solid black;
  border-radius: 10px;
  width: 50%;
  min-width: 200px;
  height: 350px;
  text-align: justify;
  text-justify: inter-word;
  padding-right: 5px;
  display: flex;
  align-items: center;
}

.MotivationPar {
  border: 7px solid black;
  border-radius: 10px;
  min-width: 350px;
}

.History-cont, .Abstract-cont, .Sim-cont, .Motivation-cont {
  display: flex;
  justify-content: space-around;
  background-color: #ffaf71;
  border-radius: 10px;
}

.Abstract-cont {
    align-items: center;
}

.AnalysisPar1, .AnalysisPar2 {
  border: 7px solid black;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: justify;
  text-justify: inter-word;
}

.AnalysisPar1 {
  margin-bottom: 20px;
}

.AnalysisPar2 {
  overflow: scroll;
}

.Analysis-cont {
  background-color: #ffaf71;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

html {
  background-color: #9abfff
}

.pic2 {
  height: 150px;
  width: 200px;
}

.pic1 {
  width: 400px;
  height: 300px;
}

.Instructions, .Sim, #output {
  border: 7px solid black;
  border-radius: 10px;
  height: 350px;
  min-width: 250px;
  padding-left: 5px;
  padding-right: 5px;
}

.Instructions {
  text-align: justify;
  text-justify: inter-word;
  width: 30%;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}
